{% extends 'base.html' %}
{% load static %}
{% block title %}
  Notifications - {{user_profile.user}}
{% endblock %}

    {% block content %}
            <div class="notification-box notification-scroll">
             {% for notification in notifications %}   
                {% if notification.notification_type == 1 %}
                <div data-type="like">
                    <div class="profile-picture">
                        <a href="profile/{{notification.profile.user}}">
                            <img src="{{ notification.profile.profileimg.url }}" alt="">
                        </a>
                    </div>
                    <div class="notification-body">
                        <a href="profile/{{notification.profile.user}}">
                            <strong>{{ notification.text_preview }}</strong>
                        </a>
                         <b>{{notification.post.video_name}}</b>
                        <small class="text-gry">{{notification.get_timeago}}</small>
                    </div>
                </div>
                {% elif notification.notification_type == 2 %}
                <div data-type="comment">
                    <div class="profile-picture">
                        <a href="profile/{{notification.profile.user}}">
                            <img src="{{ notification.profile.profileimg.url }}" alt="">
                        </a>
                    </div>
                    <div class="notification-body">
                        <a href="profile/{{notification.profile.user}}">
                            <strong>{{ notification.text_preview }}</strong>
                        </a>
                        <b>{{notification.post.video_name}}</b>
                        <small class="text-gry">{{notification.get_timeago}}</small>
                    </div>
                </div>
                {% elif notification.notification_type == 3 %}
                <div data-type="follow">
                    <div class="profile-picture">
                        <a href="profile/{{notification.sender.username}}">
                            <img src="{{ notification.profile.profileimg.url }}" alt="">
                        </a>
                    </div>
                    <div class="notification-body">
                        <a href="profile/{{notification.sender.username}}">                        
                            <span>{{ notification.text_preview }}</span> 
                        </a> 
                        <small class="text-gry">{{notification.get_timeago}}</small>
                    </div>
                </div>
                {% elif notification.notification_type == 4 %}
                <div data-type="vote">
                    <div class="profile-picture">
                        <a href="profile/{{notification.profile.user}}">
                            <img src="{{ notification.profile.profileimg.url }}" alt="">
                        </a>
                    </div>
                    <div class="notification-body">
                        <a href="profile/{{notification.profile.user}}">
                            <strong>{{ notification.text_preview }}</strong>
                        </a> 
                         <b>{{notification.post.video_name}}</b>
                        <small class="text-gry">{{notification.get_timeago}}</small>
                    </div>
                </div>
                {% elif notification.notification_type == 5 %}
                <div data-type="view">
                    <div class="profile-picture">
                        <a href="profile/{{notification.profile.user}}">
                            <img src="{{ notification.profile.profileimg.url }}" alt="">
                        </a>
                    </div>
                    <div class="notification-body">
                        <a href="profile/{{notification.profile.user}}">
                            <strong>{{ notification.text_preview }}</strong>
                        </a> 
                         <b>{{notification.post.video_name}}</b>
                        <small class="text-gry">{{notification.get_timeago}}</small>
                    </div>
                </div>
                {% endif %} 
                {% empty %}
                <div>
                    <div class="profile-picture">
                    <img src="{% static 'assets/img/placeholder-avatar.png' %}" alt="">
                    </div>
                    <div class="notification-body">
                    No notifications yet.
                    <small class="text-gry">You’ll see likes, comments, follows, and votes here.</small>
                    </div>
                </div>
             {% endfor %}   
            </div>
        </div>
    </main>
                
    {% endblock %}