{% extends 'base.html' %}
{% load static %}
{% load countries %}

{% block content %}
        <div class="container">
            <div class="row mx-0 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6 px-lg-2 px-xl-0 px-xxl-3">
                    <h4 class="font-bold text-blue-500 text-3xl justify-content-center">Update Profile</h4>
                    <hr>
                    {% for message in messages %}
                    {% if message == 0 %}
                        <p class="alert alert-success fade show" role="alert">{{message}}</p>
                        {% else %}
                        <p class="alert alert-danger fade show" role="alert">{{message}}</p>
                        {% endif %}
                    {% endfor %}
                    <form action="{% url 'settings' %}" method="post" enctype="multipart/form-data" 
                            class="rounded-1 p-4 border text-secondary bg-dark border-secondary">
                        {% csrf_token %}
                        <label for="Bio" class="d-block mb-4">
                            <span class="form-label d-block text-light">
                                Bio
                            </span>
                            <textarea name="bio" id="Bio" rows="3" class="form-control bg-secondary border-0 text-light" placeholder="Add Bio" required></textarea>
                        </label>
                        <label for="Bio" class="d-block mb-4">
                            <span class="form-label d-block text-light">
                                Phone No
                            </span>
                            <input type="text" name="phone_no" id="phone_no" class="form-control bg-secondary border-0 text-light" placeholder="Add Phone" required></textarea>
                        </label>
                        <label for="Bio" class="d-block mb-4">
                            <span class="form-label d-block text-light">
                                Birth Date
                            </span>
                            <input type="text" name="birth_date" id="add_dob" class="form-control bg-secondary border-0 text-light" placeholder="Add Date of Birth" required></textarea>
                        </label>
                        <label for="Bio" class="d-block mb-4">
                            <span class="form-label d-block text-light">
                                Location
                            </span>
                            <input type="text" name="location" id="location" class="form-control bg-secondary border-0 text-light" placeholder="Add Location" required></textarea>
                        </label>
                        <label for="country" class="d-block mb-4">
                            <span class="form-label d-block text-light">
                                Country
                            </span>
                            <select name="country_id" id="add_country" class="form-control bg-secondary border-0 text-light">
                                <option value="">Select Country</option>
                                {% get_countries as countries %}
                                {% for country in countries %}
                                <option value="{{ country.code }}">{{ country.name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <label for="profile_type_data" class="d-block mb-4">
                            <span class="form-label d-block text-light">
                                Profile Type
                            </span>
                            <select name="profile_type_data" id="add_profile_type" class="form-control bg-secondary border-0 text-light">
                                <option value="">Select Profile</option>
                                <option value="user">User</option>
                                <option value="player">Player</option>
                                <option value="coach">Coach</option>
                                <option value="agent">Agent</option>
                            </select>
                        </label>
                        <label for="profile_type_data" class="d-block mb-4">
                            <span class="form-label d-block text-light">
                                Upload Profile Picture
                            </span>
                            <img src="{{profile.profileimg.url}}" alt="Photo" class="mb-2 rounded-full w-20 h-20 object-cover">
                            <input id="feed-pic-upload" name="profileimg" type="file" accept="image/jpg, image/png, image/jpeg"
                                class="hidden">
                        </label>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary px-3 rounded-3">
                                <svg width="20" height="20" viewBox="0 0 24 24" fill="#FF0000" xmlns="http://www.w3.org/2000/svg"><title>Update</title>
                                    <path d="M8.90002 7.55999C9.21002 3.95999 11.06 2.48999 15.11 2.48999H15.24C19.71 2.48999 21.5 4.27999 21.5 8.74999V15.27C21.5 19.74 19.71 21.53 15.24 21.53H15.11C11.09 21.53 9.24002 20.08 8.91002 16.54" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M2 12H14.88" stroke="#0000FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12.65 8.6499L16 11.9999L12.65 15.3499" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                Update
                            </button>
                            <div class="d-block text-end"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}